
@model ContactModel





<form action="/Home/CreateContact" method="post">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" name="email" placeholder="name@example.com"
               value="@Model.email">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="observation" rows="3">@Model.observation</textarea>
    </div>
    <input type="submit" class="btn btn-primary" value="Enviar"/>
    <div class="text-success">@TempData["data"]</div>

</form>
