
@{
    ViewData["Title"] = "Index";
}

<!--#region modal-->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Nuevo
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <form class="form-row">
                                <div class="form-group col-sm-6">
                                    <label>Grado</label>
                                    <input type="text" id="grado" class="form-control" value="" />
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Cantidad de estudiantes</label>
                                    <input type="number" id="aforo" class="form-control" value="" />
                                </div>
                                <div class="form-group col-12">
                                    <label>Director programa</label>
                                    <input type="text" id="directorPrograma" class="form-control" value="" />
                                </div>
                                <div class="form-group col-12">
                                    <label>Descripcion</label>
                                    <textarea id="descripcion" class="form-control" cols="3"></textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!--#endregion-->
<!--#region modal load student-->
<div class="modal fade" id="studentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Estudiantes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12" id="containerStudent">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnSaveStudents">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!--#endregion-->
<h4>Cursos</h4>
<hr />
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Curso</th>
            <th>Cantidad estudiantes</th>
            <th>Director de programa</th>
            <th>Descripcion</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody id="bodyTable">
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            loadTableCourse();
            $(document).on("click", "#btnGuardar", handlerClickBtnGuardar);
            $(document).on("click", ".btnAddStudent", handlerClickBtnAddStudent);
            $(document).on("click", "#btnSaveStudents", handlerClickBtnSaveStudent);
        });

        //------------------------------------------------------

        async function loadTableCourse() {
            const response = await $.ajax({
                method: "GET",
                url: `/Curso/showCourses`
            });

            renderTable(response);
        }

        function renderTable(courses) {
            console.log(courses);
            const bodyTable = $('#bodyTable');
            let content = '';
            for (const course of courses) {
                content += `
                        <tr>
                            <td>${course.grado}</td>
                            <td>${course.aforo}</td>
                            <td>${course.directorPrograma}</td>
                            <td>${course.descripcion}</td>
                            <td>
                                <a href="javascript:;" class="btnAddStudent btn btn-sm btn-info" idCourse="${course.id}">
                                    Agregar estudiante
                                </a>
                            </td>
                        </tr>`;
            }
            bodyTable.html(content);
        }

        async function handlerClickBtnGuardar() {
            console.log('click en handlerClickBtnGuardar');
            const curso = {
                id: 0,
                grado: $("#grado").val(),
                aforo: $("#aforo").val(),
                directorPrograma: $("#directorPrograma").val(),
                descripcion: $("#descripcion").val(),
            };
            console.log(curso);

            const response = await $.ajax({
                method: "POST",
                url: `/Curso/Guardar`,
                data: curso
            });

            console.log(response);
            if (response.success) {
                $("#exampleModal").modal("hide");
                loadTableCourse();
            }
        }

        async function handlerClickBtnAddStudent() {
            const idCourse = $(this).attr('idCourse');
            console.log("id del curso es : ", idCourse);
            const response = await $.ajax({
                method: "GET",
                url: `/Curso/getStudentsByGrade/?course=${idCourse}`
            });

            console.log(response);
            if (response.success) {
                $('#studentModal').modal("show");
                loadStudents(response.students, idCourse);
            }
        }

        function loadStudents(students, idCourse) {
            const container = $('#containerStudent');
            container.attr("idCourse", idCourse);
            let content = `<ul class="list-group">`;
            for (const student of students) {
                content += `
                    <li class="list-group-item">
                        <div class="form-check">
                          <input idStudent="${student.id}" 
                            class="form-check-input" type="checkbox"
                            value="" id="check_${student.id}"
                            ${student.isInCourse ? "checked" : ""}>
                          <label class="form-check-label" for="check_${student.id}">
                            ${student.nombre}
                          </label>
                        </div>
                    </li>
                `;
            }
            if (students === undefined) {
                content += `<li class="list-group-item">
                            <p class="text-warning">No se encontraron estudiantes</p></li>`
            }
            content += "</ul>";
            container.html(content);
        }

        async function handlerClickBtnSaveStudent() {
            const idCourse = $('#containerStudent').attr("idCourse");
            const checkStudents = $('input[id^="check_"]:checked');

            const students = new Array();
            checkStudents.each(function () {
                students.push({
                    id: 0,
                    curso: parseInt(idCourse),
                    estudiante: parseInt($(this).attr("idStudent"))
                });
            });
            const params = {
                students: students,
                loquesea:123
            };
            
            console.log(students);
            const response = await $.ajax({
                method: "POST",
                url: `/Curso/SaveStudentByCourse`,
                data: params
            });

            if (response.success) {

                $("#studentModal").modal("hide");
            }
        }
            //------------------------------------------------------

    </script>
}
